Package           Version
----------------- -------
greenlet          1.1.2  
pip               20.0.2 
playwright        1.25.2 
pyee              8.1.0  
setuptools        45.2.0 
typing-extensions 4.3.0  
websockets        10.1   
wheel             0.34.2 
